.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height:100vh;
    width:100%;
    box-sizing: border-box;
    background:radial-gradient(rgb(47, 5, 5)2%,rgb(0, 0, 0));
}
.main_cards{
    background-size:cover;
    box-shadow: 4px 5px 2px rgb(255, 255, 255);
    width: 55%;
    height: 60%;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.movie_img{
    display: flex;
    height: 50%;
    width:45%;
    justify-content: space-evenly;
}
.img_card{
    margin-left:20px;
    margin-top: 20px;
    width:25%;
    height:80%;
}
.title{
    height:10px;
}
.content{
    width:50%;
    height:100%;
}
.m_text{
    height:10px;
    font-size: 12px;
}
.movie_detail{
    font-size: 12px;
    margin-left: 35px;
    text-align: start;
    width:40%;
    height:20%;
}
.fa-share{
    text-align: start;
}
@media screen and (max-width: 1250px) {
    .main_cards {
      height:60%;
    }
}
@media screen and (max-width: 950px) {
    .main_cards {
      height:35%;
    }
}
@media screen and (max-width: 750px) {
    .main_cards {
        width:70%;
      height:50%;
    }
}
@media screen and (max-width: 650px) {
    .main_cards {
        width:90%;
      height:50%;
    }
}
@media screen and (max-width: 472px) {
    .main_cards {
        width:90%;
      height:30%;
    }
}
